.pic-box{margin-top:1.33333333rem;margin-right:0;margin-bottom:0;margin-left:0}
.banner{width:100%;height:9.10666667rem;position:relative}
.content-wrap{
	width:90%;position:relative;margin-top:-6.4rem;
	margin-right:0;margin-bottom:.66666667rem;
	margin-left:0;left:5%;background:#fff;
	box-shadow:0 10px 21px 0 rgba(0,0,0,.05);
	border-radius:21px
	}
.content-wrap .title{
	text-align:left;font-size:21.05263158px;font-weight:700;
	color:#262729;padding-top:.53333333rem;
	padding-right:0;padding-bottom:0;
	padding-left:.53333333rem
	}
.content-wrap .component{
	margin-top:.2rem;margin-right:.53333333rem;margin-bottom:.53333333rem;
	margin-left:.53333333rem;font-size:12.63157895px;
	font-weight:300;color:#919498;line-height:.50666667rem
	}
.content-wrap li{
	-webkit-box-align:center;-webkit-align-items:center;align-items:center;
	text-align:center;margin-top:0;margin-right:.53333333rem;
	margin-bottom:.61333333rem;margin-left:.53333333rem
	}
.content-wrap li img{
	width:.85333333rem;height:.85333333rem;margin-top:0;margin-right:0;
	margin-bottom:.21333333rem;margin-left:0
	}
.component-uls{
	display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;
	-webkit-align-items:center;align-items:center;-webkit-box-pack:center;
	-webkit-justify-content:center;justify-content:center;text-align:center;
	-webkit-box-orient:horizontal;-webkit-box-direction:normal;
	-webkit-flex-direction:column;flex-direction:column
	}
.formDiv{
	font-size: 21px;background: #f6f6f7;border-radius: 12px;    width: 80%;
	margin-top:1rem;position: relative;
}
.msgP{
	display:none;
	position: absolute;
    width: 100%;
    font-size: 0.3rem;
    top: -0.6rem;
    color: red;
	
}

.component-uls input{
    width: 4rem;
	margin-top:12px;
	margin-bottom:12px;
	background: 0 0;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
	border-width: 0;
    border: none;
}
.component-uls select{
    width: 4rem;
    margin-top: 12px;
    margin-bottom: 12px;
    background: 0 0;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    border-width: 0;
    border: none;
}
.component-text{
	height:.98666667rem;display:-webkit-box;display:-webkit-flex;
	display:flex;-webkit-box-align:center;-webkit-align-items:center;
	align-items:center
	}
.content-wrap ul p{
	color:#57595b;font-size:13.68421053px;font-weight:400;
	/*width:2.36rem;*/
	min-width: 100px;
	line-height:.49333333rem
	}
.ztf-service{
	margin-top:0;margin-right:1.06666667rem;margin-bottom:0;
	margin-left:1.06666667rem;position:relative
	}
.ztf-service p{font-size:21.05263158px;font-weight:700;color:#262729}
.service-one{
	display:-webkit-flex;display:-webkit-inline-box;display:-webkit-inline-flex;
	display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;
	-webkit-flex-direction:row;flex-direction:row;-webkit-box-pack:start;
	-webkit-justify-content:flex-start;justify-content:flex-start;margin-top:.34666667rem;
	margin-right:0;margin-bottom:0;margin-left:0
	}
.service-two{
	display:-webkit-flex;display:-webkit-inline-box;display:-webkit-inline-flex;
	display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;
	-webkit-flex-direction:row;flex-direction:row;-webkit-box-pack:start;
	-webkit-justify-content:flex-start;justify-content:flex-start;margin-top:.26666667rem;
	margin-right:0;margin-bottom:0;margin-left:0
	}
.ztf-service img{width:.78666667rem;height:.93333333rem}
.ztf-service span{width:90%;font-size:13.68421053px;font-weight:400;color:#57595b;line-height:.61333333rem}
.product-sample{
	margin-top:.84rem;margin-right:0;margin-bottom:.68rem;
	margin-left:1.06666667rem;font-size:21.05263158px;font-weight:700;color:#262729
	}
.product-img{width:100%}
.bottom-fix{
	margin-top:-.13333333rem;margin-right:0;margin-bottom:0;margin-left:0;width:100%;
	height:1.46666667rem
	}
.product-buy{
	font-size: 12px;
	position:fixed;bottom:0;width:100%;height:50px;
	text-align:center;background:#05c1ae
	}
.product-buy a{
	font-size:15.78947368px;color:#fff;
	line-height:50px;letter-spacing:3px
	}
.header{z-index:100;height:1.33333333rem;position:fixed;top:0;left:0;right:0;background:#fff}
.header>img{position:absolute;top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);width:.46666667rem;left:20px}
.header>p{
	font-size:21.05263158px;font-family:PingFangSC-Medium;font-weight:500;
	color:#000;line-height:1.33333333rem;width:100%;text-align:center
	}
.package-backimg-margin{margin-top:1.33333333rem;margin-right:0;margin-bottom:0;margin-left:0;width:100%;height:5.33333333rem}
.package-select{background:#fff}
.package-backimg{width:100%;height:5.33333333rem}
.package-com-div{
	margin-top:-5.2rem;margin-right:0;margin-bottom:0;margin-left:0;
	padding-top:0;padding-right:.53333333rem;padding-bottom:0;padding-left:.53333333rem
	}
.pay-bottom-bar{
	position:fixed;bottom:0;height:1.46666667rem;
	width:100%;background:#fff;box-shadow:10 0 16 0 #dee1e5;
	border:1 solid #979797
	}
.total-tip{
	float:left;height:1.46666667rem;font-size:16.84210526px;color:#000;
	padding-top:0;padding-right:0;padding-bottom:0;
	padding-left:.53333333rem;text-align:center;line-height:1.46666667rem
	}
.total-amount{float:left;height:1.46666667rem;font-size:16.84210526px;color:#ff7b00;line-height:1.46666667rem}
.total-original-price{
	float:left;font-size:12.63157895px;color:#a5a9af;
	text-decoration:line-through;padding-top:0;padding-right:0;
	padding-bottom:0;padding-left:.26666667rem;line-height:1.46666667rem
	}
.pay-btn-normal{
	float:right;width:2.8rem;height:1.46666667rem;font-size:16.84210526px;
	text-align:center;color:#fff;background:#05c1ae;border:0 solid #979797;
	line-height:1.46666667rem
	}
.pay-btn-unable{
	background:#8b8e93;float:right;width:2.8rem;height:1.46666667rem;
	font-size:16.84210526px;text-align:center;color:#fff;
	border:0 solid #979797;line-height:1.46666667rem
	}
.tel-num{color:#05c1ae;font-size:15.78947368px;text-decoration:underline}
.tel-div{
	-webkit-box-align:center;-webkit-align-items:center;align-items:center;
	text-align:center;margin-top:.8rem;margin-right:0;
	margin-bottom:2.4rem;margin-left:0
	}
.tel-img{width:.33333333rem;height:.33333333rem}
.tel-span{margin-top:0;margin-right:0;margin-bottom:0;margin-left:.13333333rem;font-size:15.78947368px}
.clear{clear:both}
.package-com{
	margin-top:.2rem;margin-right:0;margin-bottom:.2rem;margin-left:0;
	width:100%;background:#fff;box-shadow:0 10px 30px 0 rgba(0,0,0,.08);
	border-radius:20px;display:-webkit-inline-box;display:-webkit-inline-flex;
	display:inline-flex;vertical-align:middle
	}
.package-detail{float:left;padding-top:0;padding-right:0;padding-bottom:.34666667rem;padding-left:0;width:80%}
.package-name-normal{
	margin-top:.4rem;margin-right:0;margin-bottom:.08rem;
	margin-left:.53333333rem;font-size:17.89473684px;
	color:#333;line-height:.66666667rem;font-weight:700
	}
.package-name-unable{
	font-size:17.89473684px;margin-top:.57333333rem;
	margin-right:0;margin-bottom:.08rem;margin-left:.53333333rem;
	color:#8b8e93;line-height:.66666667rem;font-weight:700
	}
.service-duration{
	margin-top:0;margin-right:0;margin-bottom:0;
	margin-left:.53333333rem;font-size:13.68421053px;
	color:#8b8e93;line-height:.53333333rem
	}
.service-price-div{padding-top:.22666667rem;padding-right:0;padding-bottom:0;padding-left:.50666667rem}
.service-price-normal{font-size:13.68421053px;color:#fa840a;line-height:.49333333rem;font-weight:700}
.service-price-unable{font-size:13.68421053px;color:#8b8e93;line-height:.49333333rem;font-weight:700}
.service-price-originalprice{
	font-size:12.63157895px;color:#a5a9af;line-height:.44rem;
	text-decoration:line-through;margin-top:0;margin-right:0;
	margin-bottom:0;margin-left:.30666667rem
	}
.service-purchased{
	font-size:14.73684211px;color:#52d8ca;line-height:.56rem;
	font-weight:700;margin-top:0;margin-right:0;margin-bottom:0;
	margin-left:.30666667rem
	}
.service-unsale{
	margin-top:0;margin-right:0;margin-bottom:0;
	margin-left:.30666667rem;font-size:13.68421053px;
	color:#fa840a;line-height:.53333333rem
	}
.package-check{
	display:-webkit-box;display:-webkit-flex;display:flex;
	float:right;-webkit-box-align:center;-webkit-align-items:center;
	align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;
	justify-content:center;width:20%
	}
.check-img{width:.53333333rem;height:.53333333rem}
.pay-method-div{
	margin-top:.57333333rem;margin-right:.53333333rem;
	margin-bottom:.2rem;margin-left:.53333333rem;padding-top:.53333333rem;
	padding-right:.53333333rem;padding-bottom:.4rem;padding-left:.53333333rem;
	background:#fff;box-shadow:0 10px 30px 0 rgba(0,0,0,.08);border-radius:20px
	}
.pay-method-div .title{text-align:left;font-size:20px;font-weight:700;color:#262729;line-height:.74666667rem;margin-top:0;margin-right:0;margin-bottom:.4rem;margin-left:0}
.pay-method-detail{width:100%;padding-top:.4rem;padding-right:0;padding-bottom:.4rem;padding-left:0}
.pay-img{width:.64rem;height:.64rem;float:left}
.pay-text{
	font-size:15.78947368px;font-weight:400;color:#262729;
	line-height:.64rem;margin-top:0;margin-right:0;
	margin-bottom:0;margin-left:.34666667rem;text-align:center;float:left
	}
.pay-check{
	margin-top:.05333333rem;margin-right:.53333333rem;
	margin-bottom:.05333333rem;margin-left:0;
	width:.53333333rem;height:.53333333rem;float:right
	}
.clear{clear:both}
.emptyBack{
	margin-top:-4.8rem;margin-right:0;
	margin-bottom:0;margin-left:0;padding-top:1.06666667rem;
	padding-right:0;padding-bottom:1.06666667rem;padding-left:0;
	width:100%;text-align:center
	}
.empty-img{width:4rem;height:4rem}
.empty-info{text-align:center;color:#262729;margin-top:.2rem;margin-right:0;margin-bottom:0;margin-left:0;font-size:15.78947368px}
.bg{width:100%;height:auto;position:relative}
.top{margin-top:1.5rem}
.content{
	width:80%;left:10%;right:10%;top:1%;
	position:absolute;-webkit-box-align:center;
	-webkit-align-items:center;align-items:center;
	display:-webkit-box;display:flex;
	display:-webkit-flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	flex-direction:column
	}
.content .icon{margin-top:11%}
.book{margin-top:5%}
.title{
	margin-top:5%;text-align:center;font-size:.7rem;
	font-family:PingFangSC-Medium;font-weight:450;color:#262729
	}
.subtitle{
	margin-top:10%;font-size:1.4em;-webkit-align-self:flex-start;
	align-self:flex-start;font-family:PingFangSC-Medium;
	font-weight:500;color:#262729
	}
.detail{
	margin-top:5%;font-size:1.2em;-webkit-align-self:flex-start;
	align-self:flex-start;color:'#262729';font-family:PingFangSC-Regular;
	font-weight:400;line-height:2
	}
.confirm{
	margin-top:10%;-webkit-align-self:stretch;align-self:stretch;
	text-align:center;margin-bottom:15%;font-size:.4rem;
	line-height:1.2rem;border-radius:.15rem;
	border:.02rem solid #05c1ae;
	background:#05c1ae;color:#fff
	}
.stuinfo-add-content{height:100%}
.stuinfo-hide-ime-ios{height:.01333333rem;width:.01333333rem}
.stuinfo-item-content-head{
	box-sizing:border-box;-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;margin-top:1.57333333rem;
	margin-right:0;margin-bottom:.4rem;margin-left:0;
	position:relative;width:90%;left:5%;font-weight:700;
	padding-top:.38666667rem;padding-right:.54666667rem;
	padding-bottom:.38666667rem;padding-left:.54666667rem;
	background:#f6f6f7;border-radius:12px
	}
.stuinfo-item-content-head input::-webkit-input-placeholder,
.stuinfo-item-content-head textarea::-webkit-input-placeholder{color:#a5a9af;font-size:15.78947368px}

.stuinfo-item-content-head input:-moz-placeholder,
.stuinfo-item-content-head textarea:-moz-placeholder{font-size:15.78947368px;color:#a5a9af}

.stuinfo-item-content-head input::-moz-placeholder,
.stuinfo-item-content-head textarea::-moz-placeholder{font-size:15.78947368px;color:#a5a9af}

.stuinfo-item-content-head input:-ms-input-placeholder,
.stuinfo-item-content-head textarea:-ms-input-placeholder{font-size:15.78947368px;color:#a5a9af}

.stuinfo-item-content-first{
	display:inline-block;box-sizing:border-box;-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;margin-top:.85333333rem;margin-right:0;
	margin-bottom:.4rem;margin-left:0;position:relative;width:90%;left:5%;
	font-weight:700;padding-top:.38666667rem;padding-right:.54666667rem;
	padding-bottom:.38666667rem;padding-left:.54666667rem;
	background:#f6f6f7;border-radius:12px
	}
.stuinfo-item-content-first input::-webkit-input-placeholder,
.stuinfo-item-content-first textarea::-webkit-input-placeholder{color:#a5a9af;font-size:15.78947368px}

.stuinfo-item-content-first input:-moz-placeholder,
.stuinfo-item-content-first textarea:-moz-placeholder{font-size:15.78947368px;color:#a5a9af}

.stuinfo-item-content-first input::-moz-placeholder,
.stuinfo-item-content-first textarea::-moz-placeholder{font-size:15.78947368px;color:#a5a9af}

.stuinfo-item-content-first input:-ms-input-placeholder,
.stuinfo-item-content-first textarea:-ms-input-placeholder{font-size:15.78947368px;color:#a5a9af}

.stuinfo-item-content-name{
	display:inline-block;box-sizing:border-box;-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;margin-top:.4rem;margin-right:0;
	margin-bottom:.4rem;margin-left:0;position:relative;width:90%;
	left:5%;font-weight:700;padding-top:.38666667rem;padding-right:.54666667rem;
	padding-bottom:.38666667rem;padding-left:.54666667rem;
	background:#f6f6f7;border-radius:12px
	}
.stuinfo-item-content-name input::-webkit-input-placeholder,
.stuinfo-item-content-name textarea::-webkit-input-placeholder{color:#a5a9af;font-size:15.78947368px;font-weight:400}

.stuinfo-item-content-name input:-moz-placeholder,
.stuinfo-item-content-name textarea:-moz-placeholder{font-size:15.78947368px;color:#a5a9af;font-weight:400}

.stuinfo-item-content-name input::-moz-placeholder,
.stuinfo-item-content-name textarea::-moz-placeholder{font-size:15.78947368px;color:#a5a9af;font-weight:400}

.stuinfo-item-content-name input:-ms-input-placeholder,
.stuinfo-item-content-name textarea:-ms-input-placeholder{font-size:15.78947368px;color:#a5a9af;font-weight:400}

.stuinfo-item-content{
	display:inline-block;box-sizing:border-box;-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;margin-top:.4rem;margin-right:0;
	margin-bottom:.4rem;margin-left:0;position:relative;width:90%;
	left:5%;font-weight:700;height:1.33333333rem;padding-top:.38666667rem;
	padding-right:.54666667rem;padding-bottom:.38666667rem;
	padding-left:.54666667rem;background:#f6f6f7;border-radius:12px
	}
.stuinfo-item-content input::-webkit-input-placeholder,
.stuinfo-item-content textarea::-webkit-input-placeholder{font-weight:400;color:#a5a9af;font-size:15.78947368px}

.stuinfo-item-content input:-moz-placeholder,
.stuinfo-item-content textarea:-moz-placeholder{font-weight:400;color:#a5a9af;font-size:15.78947368px}

.stuinfo-item-content input::-moz-placeholder,
.stuinfo-item-content textarea::-moz-placeholder{font-weight:400;color:#a5a9af;font-size:15.78947368px}

.stuinfo-item-content input:-ms-input-placeholder,
.stuinfo-item-content textarea:-ms-input-placeholder{font-weight:400;color:#a5a9af;font-size:15.78947368px}

.stuinfo-item-input{
	font-size:15.78947368px;color:#262729;background:0 0;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	border-width:0;border:none;width:5.73333333rem;
	font-style:bold;outline:0;font-weight:500
	}
.stuinfo-item-span-classname{
	font-size:15.78947368px;color:#262729;background:0 0;border-width:0;
	width:5.46666667rem;font-style:bold;font-weight:400;
	outline:0;display:-moz-inline-box;display:inline-block
	}
.stuinfo-item-placeholder-classname{
	font-weight:400;color:#a5a9af;font-size:15.78947368px;
	width:5.46666667rem;background:0 0;border-width:0;
	font-style:bold;display:-moz-inline-box;display:inline-block
	}
.stuinfo-item-span-gradename{
	font-size:15.78947368px;color:#262729;background:0 0;
	border-width:0;width:5.46666667rem;font-style:bold;
	font-weight:400;outline:0;display:-moz-inline-box;
	display:inline-block
	}
.stuinfo-item-placeholder-gradename{
	font-weight:400;color:#a5a9af;font-size:15.78947368px;
	width:5.46666667rem;background:0 0;border-width:0;
	font-style:bold;display:-moz-inline-box;display:inline-block
	}
.stuinfo-item-span{
	font-size:15.78947368px;color:#262729;font-style:bold;
	font-weight:500;margin-top:.38666667rem;
	margin-right:.26666667rem;margin-bottom:0;
	margin-left:.41333333rem
	}
.stuinfo-message{
	margin-top:.8rem;margin-right:0;margin-bottom:.48rem;
	margin-left:0;position:relative;width:90%;left:5%;
	font-size:12.63157895px;color:#fa840a
	}
.stuinfo-message>img{width:.29333333rem;height:.29333333rem}
.stuinfo-message-container{min-height:2rem}
.stuinfo-message-arrowimg{width:.29333333rem;height:.29333333rem}
.stuinfo-confirm-normal{
	position:relative;width:90%;left:5%;margin-top:1.33333333rem;
	margin-right:0;margin-bottom:.88rem;margin-left:0;outline:0;
	background:#05c1ae;border-radius:.16rem;border-width:0;
	color:#fff;font-size:16.84210526px;padding-top:.37333333rem;
	padding-right:0;padding-bottom:.37333333rem;padding-left:0
	}
.stuinfo-confirm-unable{
	position:relative;width:90%;left:5%;margin-top:1.33333333rem;
	margin-right:0;margin-bottom:.88rem;margin-left:0;
	border-width:0;background:#8b8e93;border-radius:.16rem;
	color:#fff;font-size:16.84210526px;padding-top:.37333333rem;
	padding-right:0;padding-bottom:.37333333rem;padding-left:0;outline:0
	}
	
@charset "UTF-8";
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}

body{-webkit-text-size-adjust:none;font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;background-color:#fff}

input,select,textarea{font-size:100%}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

table{border-collapse:collapse;border-spacing:0}

fieldset,img{border:0 none}

iframe{display:block}

abbr,acronym{border:none;font-variant:normal}

del{text-decoration:line-through}

address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}

ol,ul{list-style:none}

caption,th{text-align:left}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
